@import 'bootstrap';
@import 'posts';
@import 'home';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

p {
    font-size: 1.2rem;
}

.forms {
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
    
}

.button {
    transition: all 0.1s ease-in-out;
            
            &:hover {
                transform: scale(1.05);
            }
}

.action {
    padding: 10px 20px;
    background: #ff6b6b;
    border-radius: 30px;
    align-self: center;
    margin: 4rem 2rem;
    border-radius: 30px;

    a {
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
}

.form-actions {
    align-self: left;

    a {
        color: white;
        font-size: 1.5rem;
    }
}

.container {

    max-width: 95vw;
}

body {
    font-family: 'lato';
}

.header{
    font-family: 'lato' !important;
    font-weight: 600 !important;
    margin:50px 50px;

    .sides {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        height: 40px;
        width: auto;
        margin-right:2rem;
        align-self: flex-start;
        text-align: left;
    }

    .center-title {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: -2.2rem;
        font-weight: 700;
    }

    h2{

        margin: 0 1rem;
        font-weight: unset;
        color: #444444;
        font-size: 1.7rem;
    }


    .right {
        display: flex;
        align-items: center;

        .admin{
            margin-right:1rem;
    
            a {  
                font-size: 1.4rem;
                color: #4ecdc4;
            }
        }
    
        .log-in{
            align-self: center;
            padding: 5px 10px;
            border-radius: 30px;
            border: 2px solid #4ecdc4;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        
            a {
                color: #4ecdc4;
                font-weight: 700;
                font-size: 1.2rem;
            }
        
        }

        .sign-in{
            transition: all 0.1s ease-in-out;
            align-self: center;
            padding: 5px 10px;
            margin-right: 1rem;
            background: #4ecdc4;
            border-radius: 30px;

            a {
                color: white;
                font-weight: 700;
                font-size: 1.2rem;

            }
        
        }

        .log-out{
            align-self: center;  
        
            a {
                color: #ff6b6b;
                font-weight: 700;
                font-size: 1.3rem;
            }
        
        }
    }
   
};