
section {
    display: flex;
}

.new-post {
    justify-content: center;
    margin: 25px;
    padding: 10px 20px;
    background: #ff6b6b;
    border-radius: 30px;


    a {
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
}