section {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 20px;
    width: 400px; height: auto;
}

.new-post {

    align-self: flex-start;
    margin: 25px;
    padding: 10px 20px;
    background: #ff6b6b;
    border-radius: 30px;


    a {
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
}

.posts {
    display: flex;
    flex-direction: column;
}

.description {
    margin : 1rem 0;

    .title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}