// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section {
    display: flex;
    flex-direction: column;
}

a, img{
    margin: 1rem 1rem;
}

img{
    width: 700px;
    border-radius: 20px;
    width: 50px; height: auto;
}

.title {
    font-size: 1.5rem;
}

.category {
    margin-top: 1rem;
}

.my-posts {
    display: flex;
    flex-direction: column;

    .new-post {
        align-self: center;
    }

    h2 {
        margin:1.5rem 0;
        font-size: 2rem;
        font-weight: 700;
    }

}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;

    img {
        width: 600px;
        margin-left: 0;
        align-self: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;        
    }

    p {
        font-size: 1.5rem;
    }

    span {
        padding: 5px 10px;
        border-radius: 30px;
        border: 1px solid #4ecdc4;
        box-sizing: border-box;
        font-weight: 600;
    }

    .description {
        font-weight: 600;
        font-size: 2rem;
        font-style: italic;
    }
}